.quiz_container h5{
    text-align: center;
}
.quiz_container h3{
    color: blue;
    text-align: center;
    padding: 0% 10%;
}
.options_container{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 10%;
}
.option label{
    color: white;
    font-weight: bold;
    font-size: medium;
}
.option{
    width: 400px;
    height: 40px;
    background-color:black;
    margin: 15px;
    padding: 15px;
    border-radius: 2%;
}
.option:hover{
    background-color: gray;
}

/* .showAnswer button{
    width: 100px;
    height: 40px;
    background-color: orange;
    border: none;
    font-weight: 600;
    padding-top: 15px;
    border-radius: 5%;
} */
.answer img{
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}