.topic{
    display: flex;
    justify-content:center;
    background-color: rgb(243, 237, 237);
    padding: 20px;
    margin: 5% 10%;
    border-radius: 1%;
}
.topic-img{
    width: 160px;
}
.topic_description{
    margin-left: 20px;
}
.topic_description h3{
    color: orangered
}
.topic_description p{
    color: rgb(199, 135, 52);
}
button{
    width: 120px;
    height: 40px;
    background-color: orange;
    border: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 5%;
}
button:hover{
    background-color: orangered;
}
.btn-link{
    text-decoration: none;
    font-size: larger;
    color: white;
}