.title{
    display: flex;
    margin-left: 5%;
}

.logo-img{
    width: 36px;
    padding: 20px;
}
.logo-title{
    color: orange;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.nav-items{
    padding: 15px;
    font-size: larger;
    font-weight: 600;
    margin-right: 5%;
}
.header a{
    text-decoration: none;
    margin-right: 15px;
    padding: 2px 5px;
    color:skyblue;
}

@media only screen and (max-width: 600px) {
    .title{
        display: block;
        margin-left: 5%;
        
    }
    .header{
        display: block;
    }
    .logo-title{
        text-align: center;
    }
    .logo-img{
        width: 80%;
        height: auto;
        padding: 5%;
        border-radius: 50%;
        
    }
    .nav-items{
        text-align: center;
    }
}